body {
  margin: 0;
  font-family: "Exo 2";
  text-align: center;
  background-color: #111;
}

/* Contenedor principal del menú */
.menu {
  background-color: #0c0c0c;
  display: inline-block; /* El menú solo ocupa el ancho de sus botones */
}


.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Elementos principales del menú */
.menu > ul > li {
  display: inline-block; /* Coloca los items uno al lado del otro */
  position: relative;    /* Necesario para posicionar el submenu */
}

/* Enlaces generales del menú */
.menu a {
  color: #e6e6e6;
  padding: 14px 18px;
  text-decoration: none;
  display: block; /* Hace clicable todo el área */
}

/* Efecto hover */
.menu a:hover {
  background-color: blue;
}

/* Submenú oculto por defecto */
.submenu {
  display: none; /* Ocultar submenu */
  position: absolute; /* Posiciona de forma absoluta respecto al padre */
  background-color: #0c0c0c;
  min-width: 200px; /* Ancho mínimo del submenú */
  top: 100%; /* Posiciona debajo del elemento padre */
  left: 0; /* Alinea con el borde izquierdo */
  z-index: 1000; /* Asegura que se muestre encima de otros elementos */
}

/* Muestra el submenú al pasar el ratón */
.item-menu:hover .submenu {
  display: block;
}

/* Enlaces dentro del submenú */
.submenu a {
  display: block;
  border-bottom: 1px solid #555;
  padding: 10px;
  text-align: left;
}

/* Hover dentro del submenú */
.submenu a:hover {
  background-color: blue;
}
